<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Blacksheep\Brand\Ui\Component\Listing\DataProvider\Brand" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="reporting" xsi:type="object">Blacksheep\Brand\Ui\Component\DataProvider\Reporting</argument>
        </arguments>
    </virtualType>
    <virtualType name="Blacksheep\Brand\Ui\Component\DataProvider\Reporting" type="Magento\Framework\View\Element\UiComponent\DataProvider\Reporting">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">BlacksheepDataProviderCollectionForReporting</argument>
            <argument name="filterPool" xsi:type="object">Blacksheep\Brand\Ui\Component\DataProvider\FilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="BlacksheepDataProviderCollectionForReporting" type="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="brands_listing_data_source" xsi:type="string">Blacksheep\Brand\Model\ResourceModel\Brand\Grid\Collection</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Blacksheep\Brand\Model\ResourceModel\Brand\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">catalog_brand_entity</argument>
            <argument name="resourceModel" xsi:type="string">Blacksheep\Brand\Model\ResourceModel\Brand</argument>
        </arguments>
    </virtualType>
    <virtualType name="Blacksheep\Brand\Ui\Component\DataProvider\FilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Blacksheep\Brand\Controller\Adminhtml\Brand\Save">
        <arguments>
            <argument name="uploader" xsi:type="array">
                <item name="image" xsi:type="object">Blacksheep\Brand\Model\BrandImageUpload</item>
                <item name="logo" xsi:type="object">Blacksheep\Brand\Model\BrandLogoUpload</item>
            </argument>
        </arguments>
    </type>
    <type name="Blacksheep\Brand\Controller\Adminhtml\Brand\Upload">
        <arguments>
            <argument name="uploader" xsi:type="array">
                <item name="image" xsi:type="object">Blacksheep\Brand\Model\BrandImageUpload</item>
                <item name="logo" xsi:type="object">Blacksheep\Brand\Model\BrandLogoUpload</item>
            </argument>
        </arguments>
    </type>
</config>
